*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar{
    width: 8px;
    background-color: #181818;
}
body::-webkit-scrollbar-thumb{
    background-color: #404040;
    width: 6px;
    border-radius: 4px;
}