.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $color3;

    position: relative;
    overflow: hidden;
    
    &__container{
        display: flex;
        flex-direction: column;
        padding: 56px 16px 16px 16px;
        border-radius: 12px;
        background-color: $color6;
        color: $color4;

        box-shadow: 14px 14px 20px 0px rgb(255 255 255 / 3%);

        position: relative;
        left: 0;
        transition: .6s ease all;

        &.active{
            left: 100%;
        }

        h1{
            font-size: 2.6rem;
        }

        h2{
            margin-top: 4px;
            font-size: 1.6rem;
            font-weight: 400;
        }

        button{
            color: white;
            padding: 12px 20px;
            margin-top: 16px;
            width: fit-content;
            border: none;
            border-radius: 24px;
            font-size: 1.6rem;   
            font-weight: 700; 
            text-decoration: none;    
            cursor: pointer;    
            background-color: $color5;

            &:hover{
                background-color: $color2;
            }
        }

        &::before{
            content: '';
            width: 100%;
            height: 40px;
            background-color: $color1;
            border-radius: 12px 12px 0px 0px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__categories{
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        padding-top: 56px;
        border-radius: 12px;
        background-color: $color6;
        color: $color4;

        box-shadow: 14px 14px 20px 0px rgb(255 255 255 / 3%);

        position: absolute;
        transition: .6s ease all;
        transform: scale(0.5);

        &.active{
            left: 100%;
        }
        &.animation{
            animation: zoom .6s ease forwards;
        }

        &__targets{
            font-size: 2rem;
            border-bottom: 2px solid $color2;
            padding: 12px 56px;

            a{
                color: $color4;
                text-decoration: none;
                font-weight: 800;
            }

            &--nexo{
                border: none;
            }
        }

        &::before{
            content: '';
            width: 100%;
            height: 40px;
            background-color: $color1;
            border-radius: 12px 12px 0px 0px;
            position: absolute;
            top: 0;
        }
    }
}

.tale{
    padding: 16px;
    background-color: $color1;
    color: $color4;

    p{
        font-size: 2.4rem;
        margin-top: 64px;
        text-align: center;
        font-weight: 800;
    }

    &__container{
        display: flex;
        flex-direction: column;
        // gap: 16px;
        align-items: center;
        background-color: $color1;
        padding: 8px;
        border-radius: 12px;
        margin-top: 24px;

        p{
            background-color: $color6;
            padding: 20px;
            font-size: 1.6rem;
            font-family: 'Roboto Mono', monospace;
            font-weight: 100;
            // font-family: 'Averia Serif Libre', serif;
            text-align: justify;
            max-width: 1200px;
            margin: 0;

            &:nth-child(1){
                border-radius: 12px 12px 0 0;
            }
            &:nth-last-child(1){
                border-radius: 0 0 12px 12px;
            }
        }
    }
}


.desing{
    position: absolute;
    top: 10px;
    left: 12px;
    ul{
        display: flex;
        gap: 8px;
        list-style: none;

        li{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            cursor: pointer;

            &:nth-child(1){
                background-color: #FF605C;
            }
            &:nth-child(2){
                background-color: #FFBD44;
            }
            &:nth-child(3){
                background-color: #00CA4E;
            }

            a{
                text-decoration: none;
                text-align: center;
                color: transparent;
                padding: 10px;
            }
        }
    }

    &--static{
        position: relative;
        top: 0;
        ul{
            gap: 16px;
            li{
                width: 16px;
                height: 16px;
    
                a{
                    text-decoration: none;
                    text-align: center;
                    color: transparent;
                    padding: 10px;
                }
            }
        }
    }
}

